<!DOCTYPE html>
<html>
  <head>
    <title>Fitbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e4363e167b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('fblg.png') %>
    <meta property="og:title" content="Fitbook" />
    <meta property="og:image" content="<%= image_url('fitbook.png')%>" />
    <meta property="og:description" content="A fullstack clone of Facebook made with React and Ruby on Rails" />
    <meta property="og:url" content="http://fitbookus.herokuapp.com" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
